In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt

/home/ant_on/miniconda3/envs/churn/lib/python3.11/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
filename = "./data/assesment_file2_churn.csv"
df = pd.read_csv(filename, sep=";")
df

,MONTH_PERIOD,CHURNED_IND,COMMERCIALLY_CHURNED,PAYMENT_IND,SAVING_IND,INVESTMENTS_IND,LENDING_IND,MORTGAGE_IND,INSURANCE_LIFE_IND,INSURANCE_NONLIFE_IND,...,REVENUES_CLASS,PAYMENT_ACTIVITIES_CODE,CLIENTGROUP,ACCOUNTMODEL,AGE_CLASS,HOMEBANK_COLOUR,LOYALITY,TARGET,Record_Count,CUSTOMER_ID
0,201212,0,0,1,1,0,0,0,0,0,...,8,2,0301,LP,Leeftijd_65_74,Geel,Oranje,99,24,6849612538
1,201211,0,0,1,1,0,0,0,0,0,...,8,3,0301,LP,Leeftijd_65_74,Geel,Groen,99,24,6849612538
2,201210,0,0,1,1,0,0,0,0,0,...,8,2,0301,LP,Leeftijd_65_74,Geel,Oranje,99,24,6849612538
3,201209,0,0,1,1,0,0,0,0,0,...,8,2,0301,LP,Leeftijd_65_74,Geel,Oranje,99,24,6849612538
4,201208,0,0,1,1,0,0,0,0,0,...,8,2,0301,LP,Leeftijd_65_74,Geel,Oranje,99,24,6849612538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100051,201105,1,1,0,0,0,0,0,0,0,...,4,0,????,NaN,NaN,NaN,NaN,99,24,8524962628
100052,201104,1,1,0,0,0,0,0,0,0,...,4,0,????,NaN,NaN,NaN,NaN,99,24,8524962628
100053,201103,1,0,0,0,0,0,0,0,0,...,4,0,????,NaN,NaN,NaN,NaN,99,24,8524962628
100054,201102,1,0,0,0,0,0,0,0,0,...,4,0,????,NaN,NaN,NaN,NaN,99,24,8524962628
100055,201101,0,0,1,1,0,0,0,0,0,...,4,0,0301,MP,Leeftijd_35_40,Rood,Rood,99,24,8524962628

In [3]:
df.isna().sum()

MONTH_PERIOD                   0
CHURNED_IND                    0
COMMERCIALLY_CHURNED           0
PAYMENT_IND                    0
SAVING_IND                     0
INVESTMENTS_IND                0
LENDING_IND                    0
MORTGAGE_IND                   0
INSURANCE_LIFE_IND             0
INSURANCE_NONLIFE_IND          0
CROSS_SELL_SCORE               0
PACKAGE_IND                    0
CREDIT_CLASS                   0
DEBIT_CLASS                    0
BUSINESS_VOLUME_CLASS          0
INVESTED_CAPITAL_CLASS         0
SAVINGS_CAPITAL_CLASS          0
MIN_FEED_CLASS                 0
REVENUES_CLASS                 0
PAYMENT_ACTIVITIES_CODE        0
CLIENTGROUP                    0
ACCOUNTMODEL                7013
AGE_CLASS                   5292
HOMEBANK_COLOUR            15063
LOYALITY                   23022
TARGET                         0
Record_Count                   0
CUSTOMER_ID                    0
dtype: int64

In [4]:
df.dtypes

MONTH_PERIOD                int64
CHURNED_IND                 int64
COMMERCIALLY_CHURNED        int64
PAYMENT_IND                 int64
SAVING_IND                  int64
INVESTMENTS_IND             int64
LENDING_IND                 int64
MORTGAGE_IND                int64
INSURANCE_LIFE_IND          int64
INSURANCE_NONLIFE_IND       int64
CROSS_SELL_SCORE            int64
PACKAGE_IND                 int64
CREDIT_CLASS                int64
DEBIT_CLASS                 int64
BUSINESS_VOLUME_CLASS       int64
INVESTED_CAPITAL_CLASS      int64
SAVINGS_CAPITAL_CLASS       int64
MIN_FEED_CLASS              int64
REVENUES_CLASS              int64
PAYMENT_ACTIVITIES_CODE     int64
CLIENTGROUP                object
ACCOUNTMODEL               object
AGE_CLASS                  object
HOMEBANK_COLOUR            object
LOYALITY                   object
TARGET                      int64
Record_Count                int64
CUSTOMER_ID                 int64
dtype: object

In [5]:
df["TARGET"].unique()

array([99])

In [6]:
profile = ProfileReport(df, title="Churn EDA")

In [7]:
profile.to_file("./reports/report_ydata.html")

Summarize dataset: 100%|███████████████████████████████████████████| 138/138 [00:28<00:00,  4.82it/s, Completed]
Generate report structure: 100%|██████████████████████████████████████████████████| 1/1 [00:08<00:00,  8.09s/it]
Render HTML: 100%|████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.51s/it]
Export report to file: 100%|█████████████████████████████████████████████████████| 1/1 [00:00<00:00, 123.34it/s]

In [8]:
profile_ts = ProfileReport(df, tsmode=True, sortby="MONTH_PERIOD",title="Churn EDA")
profile_ts.to_file("./reports/report_ts_ydata.html")

Summarize dataset:   0%|                                                                  | 0/5 [00:00<?, ?it/s]/home/ant_on/miniconda3/envs/churn/lib/python3.11/site-packages/ydata_profiling/model/pandas/describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
Summarize dataset: 100%|███████████████████████████████████████████| 138/138 [00:51<00:00,  2.68it/s, Completed]
Generate report structure: 100%|██████████████████████████████████████████████████| 1/1 [00:09<00:00,  9.51s/it]
Render HTML: 100%|████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.40s/it]
Export report to file: 100%|█████████████████████████████████████████████████████| 1/1 [00:00<00:00, 121.20it/s]